@using EShop.Domain.Enums
@model List<EShop.Presentation.Models.Order.OrderListViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<h1 class="mb-4">Order List</h1>

@if(!Model.Any())
{
    <p>No orders found.</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Order ID</th>
                    <th>Order Time</th>
                    <th>Address</th>
                    <th>Total Price</th>
                    <th>Total Items Count</th>
                    <th>Order Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.Id</td>
                        <td>@order.OrderTime</td>
                        <td>@order.Address</td>
                        <td>$@order.TotalPrice</td>
                        <td>@order.TotalItemsCount</td>
                        <td>@order.OrderStatus</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Order Actions">
                                @if (order.OrderStatus != Status.Confirmed)
                                {
                                    <form method="post" asp-action="Confirm">
                                        <input type="hidden" name="orderId" value="@order.Id" />
                                        <button type="submit" class="btn btn-success m-1">Confirm</button>
                                    </form>
                                }
                                <form method="post" asp-action="Cancel">
                                    <input type="hidden" name="orderId" value="@order.Id" />
                                    <button type="submit" class="btn btn-danger  m-1">Cancel</button>
                                </form>
                            </div>
                            <a href="@Url.Action("ChangeAddress", "Order", new { orderId = order.Id })" class="btn btn-primary  m-1">Change Address</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

